.title{
    padding:13% 0 3% 0;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
.category,.category1,.category2,.category3,.category4,.category5,.category6{
    margin: 1%;
    vertical-align: top;
    position: relative;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
}
    .category{
        width: 30.5%;
        margin: 1% 1% 1% 3%;
    }
    .category1{
        width: 26.3%;
    }
    .category2{
        width: 32.5%;
    }
    .category3{
        margin: 1% 1% 1% 3%;
        width: 43.4%;
    }
    .category4{
        width: 46.5%;
    }
    .category5{
        margin: 1% 1% 1% 3%;
        width: 49%;
    }
    .category6{
        width: 41.9%;
    }
    .category img,.category1 img,.category2 img,.category3 img,.category4 img,.category5 img,.category6 img{
        width:100%;
        border: 1px solid gray;
    }
    .category section,.category1 section,.category2 section,.category3 section,.category4 section,.category5 section,.category6 section{
        color: white;
        font-size: 1.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 2px 2px black;
    }
    .category section p,.category1 section p,.category2 section p,.category3 section p,.category4 section p,.category5 section p,.category6 section p{
        text-decoration: underline;
    }
    @media only screen and (max-width: 900px){
        .category,.category1,.category2,.category3,.category4,.category5,.category6{
            width: 95%;
        }
    }