*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    padding: 0 0 0 3%;
    width: 100%;
    position:absolute;
    display: block;
    z-index: 500;
    background-color: black;
}
    .nav-bar a{
        margin: 2% 8.2% 2% 0;
        vertical-align: middle;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        color: white;
        font-weight: bold;
    }
    .nav-bar .icon{
        display: none;
    }
        a img{
            width: 7%;
        }
        a .user_logo{
            width: 3%;
        }
    .sticky {
        position: fixed;
        top: 0;
    }
       

@media only screen and (max-width: 900px){
    .nav-bar a{
        font-size: 80%;
        margin: 2% 3.4% 2% 3.4%;
    }
}
@media only screen and (max-width: 600px){
    .nav-bar a{
        display: none;
        font-size: large;
        margin: 0 0 7% 0;
        padding-bottom: 3%;
    }
    .nav-bar a.icon {
        margin: 5% 0 0 5%;
        display: block;
    }
    a img{
        width: 20%;
    }
    a .user_logo{
        width: 10%;
    }
    .nav-bar.responsive {
        position: fixed;
        background-color: black;
    }
    .nav-bar.responsive a{
        display: block;
        text-align: center;
    }
    .nav-bar.responsive a.icon{
        margin: 0;
    }
}