.products{
    padding: 5% 0 0 0;
}
    .product_title{
        text-align: center;
        margin: 8% 0 0 0;
    }
    .product_title h1{
        font-size:2.5em;
    }
    .product_title h2{
        text-align: start;
        margin: 0 0 0 3%;
        font-size:2em;
        text-decoration: underline;
    }
    .product_title, .item_np{
        font-family: 'Courier New', Courier, monospace;
    }
    .item{
        margin: 2%;
        padding: 1%;
        display: inline-block;
        width: 27%;
        text-align: center;
    }
        .item img{
            width: 60%;
        }
        .item_np{
            display:block;
        }
            .item_np h3{
                font-weight: 900;
            } 
            @media only screen and (max-width: 900px){
                .item{
                    width: 40%;
                }
            }
            @media only screen and (max-width: 600px){
                .item{
                    width: 95%;
                }
            }